@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', sans-serif;
}

.rtds-single-slide-styles {
  padding: 0px !important;
  height: 100% !important;
}

.rtds-single-slide-styles > div {
  padding: 0.5rem !important;
}
