@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}

.tableRow {
  @apply hover:bg-gray-50;
  animation-name: animateIn;
  animation-duration: 100ms;
  animation-delay: calc(var(--delay, 0) * 20ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.tableData {
  @apply px-3 py-4 text-sm text-gray-500;
}

.tableRowStacked {
  @apply w-full max-w-0 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:w-auto sm:max-w-none;
}

.categoryPill {
  @apply inline-flex items-center rounded-full bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600 hover:bg-gray-200 hover:text-gray-800;
}

.link {
  @apply font-semibold text-indigo-700 hover:text-indigo-500;
}
