@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
  }
}

.container {
  @apply flex flex-col justify-between rounded-md ring-1 ring-inset ring-gray-500/10 duration-150 ease-in-out hover:scale-105;
  animation-name: animateIn;
  animation-duration: 100ms;
  animation-delay: calc(var(--delay, 0) * 20ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
